h1 {
    font-size: 48px;
    font-family: 'Crimson Pro', serif, sans-serif;
    color: rgb(0, 0, 0);
  }
  p { 
    font-family: Arial, Helvetica, sans-serif;
  }
 
  body {
    background-color:#ffff;
  }

  .hard {
    font-style:italic;
  }
  .es {
    font-size:20px;
  }
  .pt {
    font-size: 21px;
  }
  