h1 {
    font-size: 48px;
    font-family: 'Crimson Pro', serif, sans-serif;
    color: white;
  }
  p { 
    font-family: Arial, Helvetica, sans-serif;
  }
 
  body {
    background-color:#ffff;
  }
  