div.header {
    font-size: 20px;
    font-family: 'Crimson Pro', serif, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 5, 95);
    position: fixed;
    
    width: 100%;
    z-index: 1;

  }
  .main {
    position: relative;
    font-size: 20px;
    font-family: 'Crimson Pro', serif, sans-serif;
    color: rgb(255, 255, 255);
    background-size: cover;
    width: 100%;
    margin-top: 100px;

    
  }
  p { 
    font-family: Arial, Helvetica, sans-serif;
  }
 
  body {
    background-color: cadetblue;
    margin: 0 auto;
    padding: 0;
  }

  .hard {
    font-style:italic;
  }
  .es {
    font-size:20px;
  }
  .pt {
    font-size: 21px;
  }
  .profilePicture {
    border-radius: 50%;
  }
  div {
    display: inline-block;
    text-align: center;
    width: 95%;
    background-color: cadetblue;
    margin: auto;
  }
  section {
      display:flex;
      text-align: center;
      margin: 0 auto;
      border: 1px solid;
      padding: 10px;
  }
  a:hover{
    box-shadow: 3px 3px 5px black;
    background-color: black;
    transition-delay: 200ms;
  }
  